div.basket-root {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;

    fa-icon {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        font-size: 32px;
    }
}